  option_settings:
    - namespace: aws:elasticbeanstalk:healthreporting:system
      option_name: SystemType
      value: enhanced
    - namespace: aws:elasticbeanstalk:healthreporting:system
      option_name: ConfigDocument
      value: { 
  # CoRise TODO: add more enhanced health metrics
  "CloudWatchMetrics": {
    "Environment": {
    },
    "Instance": {
    }
  },
  "Version": 1
}